body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
}
#viewport {
  background: url("images/stars-bg.jpg");
  margin: 0 auto;
}
.ui.dimmer > .content {
  width: 800px;
  margin: 0 auto;
}
.ui.dimmer > .content h1 {
  font-family: 'Audiowide', cursive;
  font-size: 48px;
}
.ui.dimmer > .content .proceed-msg {
  text-transform: uppercase;
  margin-top: 50px;
  display: block;
}
.ui.dimmer > .content .instructions {
  padding: 10px;
  border: 1px solid #fff;
}
#nextlevel,
#gameover {
  font-size: 36px;
  font-family: 'Audiowide', cursive;
  text-transform: uppercase;
}
.story {
  height: 500px;
}
.story-img {
  height: 250px;
}
.story-nav {
  color: #00ff27;
  text-decoration: none;
  font-size: 1.2em;
  font-family: 'Audiowide', cursive;
}
.story-nav:hover {
  text-shadow: 0 0 0.2em #fff;
}
.next,
#next-level {
  float: right;
}
.previous {
  float: left;
}
#proceed-btn,
#start-btn {
  position: absolute;
  font-family: 'Audiowide', cursive;
  text-transform: uppercase;
  font-size: 18px;
  color: #00ff27;
  z-index: 5;
}
#proceed-btn {
  right: 20px;
}
#start-btn {
  width: 280px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 20px auto;
  background-color: #3a3838;
  left: 0;
  right: 0;
  cursor: pointer;
}
#start-btn:hover {
  background-color: #ccc;
  color: #000;
}
